<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>vuesmarttable</title>
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css" /-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <style>
      .smart-table {
        margin: 25px;
      }
    </style>
  </head>
  <body>
    <!--input type="text" v-model="search"/>
   <smart-table
    :auto-load="true"
    body-path="results"
    id-col="id.value"
    table-classes="ui celled table unstackable"
    endpoint="http://api.randomuser.me/?page=1&results=2&seed=abc"
    :header="[
    {key: 'name.first', label: 'name'},
    {key: 'name.last', label: 'surname'},
    {key: 'gender'},
    {key: 'phone+cell', label: 'contacts'},
    {key: 'picture.thumbnail', label: 'avatar'},
    {key: 'nat', label: 'nationality'}
    ]"
    :order-by="['name.first', 'name.last']"
    :editable="['name.first', 'name.last', 'picture.thumbnail']"
    :can-filter-by="['name.first', 'name.last']"
    v-ref:smart>
   <plain-text col="name.first" :multiline="true"></plain-text>

   <src2img col="picture.thumbnail"></src2img>

   <contacts col="phone+cell"></contacts>

   <fontawesome col="gender"></fontawesome>

   <nationality col="nat"></nationality>
  </smart-table-->
  <button @click="add">add</button>
  <button @click="remove">remove</button>
  <!--smart-table
  :items-per-page="10"
  :body="[{hello:'world'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'peanuts'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'},
  {hello:'to you', world:'hello'}]"
  :order-by="['hello', 'world']"
  v-ref:ut>
    <footer>
      <!-/-div class="ui right floated pagination menu">
        <a class="icon item" @click="pag('prev')">
          <i class="left chevron icon"></i>
        </a>
        <a v-for="n in 4" 
          :class="n+offset(4) === currentPage ? 'item disabled' : 'item'" 
          @click="pag(n+offset(4))"
        >
          {{n+offset(4)}}</a>
        <a class="icon item" @click="pag('next')">
          <i class="right chevron icon"></i>
        </a>
      </div-/->
      <div>
        <built-in-footer :current-page="currentPage" :num-pages="numPages"></built-in-footer>
      </div>
    </footer>
  </smart-table-->
  <smart-table
    :body="[{'editable field':'worldo'}]"
    :editable="['editable field']">
    <plain-text :multiline="true" col="editable field"></plain-text>
  </smart-table>
  <!--smart-table
    :header="[
    {key: 'name', label: 'Name'},
    {key: 'name+picture', label: 'Picture'},
    {key: 'name+items', label: 'Items'}
    ]"
    :body="[
      {name: 'bulbasaur'},
      {name: 'pikachu'}
    ]">
    <pokepic col="name+picture"></pokepic>
    <itempic col="name+items"></itempic>
  </smart-table-->
  <!-- built files will be auto injected -->
  </body>
</html>
